@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.primary-btn {
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  background: #43b1e6;
  font-weight: 700;
  border: none;
  color: white;
  padding: 12px 80px;
  width: 312px;
}
.primary-btn:hover {
  box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}

.secondary-btn {
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 34px;
  color: gray;
  border-color: #919191;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#sticky-total {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
  background: rgb(252, 252, 252) !important;
}
#sticky-total p {
  font-size: 14px;
  font-weight: 700;
}
#sticky-total .sticky-btn {
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  background: #43b1e6;
  font-weight: 700;
  border: none;
  color: white;
  padding: 12px 34px;
}
#sticky-total .sticky-btn:hover {
  box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}

.show {
  display: flex !important;
}

.lg-screen-main {
  display: none;
}

.sm-screen-main .cart-section {
  padding: 0 1rem;
  margin: 16px 0;
}
.sm-screen-main .cart-section h1 {
  font-size: 33px;
}
.sm-screen-main .cart-section .cart-item {
  padding: 0 8px;
  padding-bottom: 2rem;
  margin-top: 26px;
  border-bottom: 1px solid #dadada;
}
.sm-screen-main .cart-section .cart-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .cart-section .cart-item .top img {
  height: 48px;
  width: 48px;
}
.sm-screen-main .cart-section .cart-item .top .details {
  margin-left: 1rem;
  flex-grow: 1;
}
.sm-screen-main .cart-section .cart-item .top .details h3 {
  font-weight: 700;
  font-size: 14px;
}
.sm-screen-main .cart-section .cart-item .top .details h4 {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}
.sm-screen-main .cart-section .cart-item .top .remove img {
  height: 16px;
  width: 16px;
}
.sm-screen-main .cart-section .cart-item .middle {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.sm-screen-main .cart-section .cart-item .middle .category {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sm-screen-main .cart-section .cart-item .middle .category img {
  height: 20px;
  width: 20px;
}
.sm-screen-main .cart-section .cart-item .middle .category h4 {
  font-weight: 400;
  font-size: 14px;
  color: gray;
  font-weight: 700;
}
.sm-screen-main .cart-section .cart-item .middle .credits h3 {
  font-weight: 700;
  font-size: 16px;
}
.sm-screen-main .cart-section .cart-item .bottom {
  width: 100%;
  text-align: right;
}
.sm-screen-main .cart-section a {
  text-decoration: none;
  color: #43b1e6;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 1rem;
}
.sm-screen-main .cart-section a img {
  display: inline;
}
.sm-screen-main .order-summary-section {
  margin-top: 60px;
  padding: 0 1rem;
}
.sm-screen-main .order-summary-section h1 {
  font-size: 33px;
}
.sm-screen-main .order-summary-section .order-body {
  margin-top: 20px;
  padding: 0 8px;
}
.sm-screen-main .order-summary-section .order-body .credit-details .top,
.sm-screen-main .order-summary-section .order-body .credit-details .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .order-summary-section .order-body .credit-details .top p,
.sm-screen-main .order-summary-section .order-body .credit-details .bottom p {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
}
.sm-screen-main .order-summary-section .order-body .credit-details .top span,
.sm-screen-main .order-summary-section .order-body .credit-details .bottom span {
  font-weight: 700;
  font-size: 16px;
  color: #919191;
}
.sm-screen-main .order-summary-section .order-body .promo-code {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .order-summary-section .order-body .promo-code p {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.1em;
}
.sm-screen-main .order-summary-section .order-body .promo-code img {
  height: 16px;
  width: 16px;
  display: inline;
}
.sm-screen-main .order-summary-section .order-body .sub-total {
  margin-top: 20px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 1rem;
}
.sm-screen-main .order-summary-section .order-body .sub-total .top,
.sm-screen-main .order-summary-section .order-body .sub-total .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .order-summary-section .order-body .sub-total .top p,
.sm-screen-main .order-summary-section .order-body .sub-total .bottom p {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
}
.sm-screen-main .order-summary-section .order-body .sub-total .top span,
.sm-screen-main .order-summary-section .order-body .sub-total .bottom span {
  font-weight: 700;
  font-size: 16px;
  color: #919191;
}
.sm-screen-main .order-summary-section .order-body .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #dadada;
}
.sm-screen-main .order-summary-section .order-body .total p {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
}
.sm-screen-main .order-summary-section .order-body .total span {
  font-weight: 700;
  font-size: 16px;
}
.sm-screen-main .order-summary-section .order-body .payment {
  margin-top: 16px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 16px;
}
.sm-screen-main .order-summary-section .order-body .payment p {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
}
.sm-screen-main .order-summary-section .order-body .payment .method {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .order-summary-section .order-body .payment .method .name p {
  display: inline;
}
.sm-screen-main .order-summary-section .order-body .payment .method .name span {
  color: #919191;
}
.sm-screen-main .order-summary-section .order-body .payment .method .change a {
  color: #43b1e6 !important;
  font-size: 16px;
}
.sm-screen-main .order-summary-section .note {
  margin-top: 1.2rem;
  color: #919191;
}
.sm-screen-main .order-summary-section .place-order,
.sm-screen-main .order-summary-section .terms p {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.sm-screen-main .order-summary-section .terms {
  margin-top: 1.4rem;
}
.sm-screen-main .order-summary-section .terms p {
  padding: 0 2rem;
  margin: 0;
  font-size: 14px;
  color: #919191;
}
.sm-screen-main .order-summary-section .terms p span {
  text-decoration: underline;
}
.sm-screen-main .saved-for-later-section {
  margin-top: 60px;
  padding: 0 1rem;
  padding-bottom: 2rem;
  margin-bottom: 30px;
}
.sm-screen-main .saved-for-later-section h1 {
  font-size: 23px;
  font-weight: 700;
}
.sm-screen-main .saved-for-later-section .cart-item {
  padding: 0 8px;
  padding-bottom: 2rem;
  margin-top: 26px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 1rem;
}
.sm-screen-main .saved-for-later-section .cart-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sm-screen-main .saved-for-later-section .cart-item .top img {
  height: 48px;
  width: 48px;
}
.sm-screen-main .saved-for-later-section .cart-item .top .details {
  margin-left: 1rem;
  flex-grow: 1;
}
.sm-screen-main .saved-for-later-section .cart-item .top .details h3 {
  font-weight: 700;
  font-size: 14px;
}
.sm-screen-main .saved-for-later-section .cart-item .top .details h4 {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}
.sm-screen-main .saved-for-later-section .cart-item .top .remove img {
  height: 16px;
  width: 16px;
}
.sm-screen-main .saved-for-later-section .cart-item .middle {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.sm-screen-main .saved-for-later-section .cart-item .middle .category {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sm-screen-main .saved-for-later-section .cart-item .middle .category img {
  height: 20px;
  width: 20px;
}
.sm-screen-main .saved-for-later-section .cart-item .middle .category h4 {
  font-weight: 400;
  font-size: 14px;
  color: gray;
  font-weight: 700;
}
.sm-screen-main .saved-for-later-section .cart-item .middle .credits h3 {
  font-weight: 700;
  font-size: 16px;
}
.sm-screen-main .saved-for-later-section .cart-item .bottom {
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 769px) {
  .sm-screen-main {
    display: none;
  }
  .lg-screen-main {
    display: flex;
    gap: 3rem;
  }
  .lg-screen-main h2 {
    font-size: 33px;
    font-weight: 700;
  }
  .lg-screen-main h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .lg-screen-main h4 {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
  }
  .lg-screen-main .left-section {
    flex: 80%;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 40px;
  }
  .lg-screen-main .left-section .cart-item {
    padding: 0 1rem;
    padding: 40px 0;
    border-bottom: 1px solid #dadada;
  }
  .lg-screen-main .left-section .cart-item .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lg-screen-main .left-section .cart-item .flex .top,
.lg-screen-main .left-section .cart-item .flex .middle,
.lg-screen-main .left-section .cart-item .flex .bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .lg-screen-main .left-section .cart-item .flex .bottom h4 {
    cursor: pointer;
    transition: 0.3s;
  }
  .lg-screen-main .left-section .cart-item .flex .bottom h4:hover {
    text-decoration: underline;
  }
  .lg-screen-main .left-section .cart-item .flex .top {
    gap: 1rem;
  }
  .lg-screen-main .left-section .cart-item .flex .top img {
    width: 88px;
    height: 88px;
  }
  .lg-screen-main .left-section .cart-item .flex .middle {
    gap: 5px;
  }
  .lg-screen-main .left-section .cart-item .flex .middle img {
    width: 24px;
    height: 24px;
  }
  .lg-screen-main .left-section .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
  }
  .lg-screen-main .left-section .actions h4 {
    display: inline;
    cursor: pointer;
  }
  .lg-screen-main .left-section .actions h4:hover {
    text-decoration: underline;
  }
  .lg-screen-main .left-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1.2rem;
    color: #43b1e6;
  }
  .lg-screen-main .left-section .saved-for-later {
    margin: 60px 0;
  }
  .lg-screen-main .left-section .saved-for-later .cart-item .flex .top img {
    width: 50px;
    height: 50px;
  }
  .lg-screen-main .right-section {
    flex: 20%;
    padding: 60px 85px !important;
    background: #fafafa;
  }
  .lg-screen-main .right-section .credits {
    width: 100%;
  }
  .lg-screen-main .right-section .credits .top {
    margin-top: 50px;
  }
  .lg-screen-main .right-section .credits .top p {
    font-size: 16px;
    font-weight: 700;
    font-size: 16px;
  }
  .lg-screen-main .right-section .credits .top .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .lg-screen-main .right-section .promo-code {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
  }
  .lg-screen-main .right-section .promo-code p {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.1em;
  }
  .lg-screen-main .right-section .promo-code img {
    height: 16px;
    width: 16px;
    display: inline;
  }
  .lg-screen-main .right-section .sub-total {
    border-bottom: 1px solid #dadada;
    padding: 30px 0;
  }
  .lg-screen-main .right-section .sub-total .top,
.lg-screen-main .right-section .sub-total .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lg-screen-main .right-section .sub-total .top p,
.lg-screen-main .right-section .sub-total .bottom p {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9em;
  }
  .lg-screen-main .right-section .sub-total .top span,
.lg-screen-main .right-section .sub-total .bottom span {
    font-weight: 700;
    font-size: 16px;
    color: #919191;
  }
  .lg-screen-main .right-section .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
  }
  .lg-screen-main .right-section .total p {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9em;
  }
  .lg-screen-main .right-section .total span {
    font-weight: 700;
    font-size: 16px;
  }
  .lg-screen-main .right-section .payment {
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
  }
  .lg-screen-main .right-section .payment p {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9em;
  }
  .lg-screen-main .right-section .payment .method {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lg-screen-main .right-section .payment .method .name p {
    display: inline;
  }
  .lg-screen-main .right-section .payment .method .name span {
    color: #919191;
  }
  .lg-screen-main .right-section .payment .method .change a {
    color: #43b1e6 !important;
    font-size: 16px;
  }
  .lg-screen-main .right-section .note {
    padding: 30px 0;
    color: #919191;
  }
  .lg-screen-main .right-section .place-order,
.lg-screen-main .right-section .terms p {
    width: 100%;
    text-align: center;
  }
  .lg-screen-main .right-section .place-order button {
    width: 412px;
  }
  .lg-screen-main .right-section .terms {
    margin-top: 1.6rem;
  }
  .lg-screen-main .right-section .terms p {
    padding: 0 2rem;
    margin: 0;
    font-size: 16px;
    color: #919191;
  }
  .lg-screen-main .right-section .terms p span {
    text-decoration: underline;
    cursor: pointer;
  }
}/*# sourceMappingURL=cart.css.map */